**/__pycache__
**/_minted*
_build
.DS_Store
dist
*.egg-info/
build/
*.h5
*.xdmf
*.png
*.svg
*.log
*.fls
*.aux
*.fdb_latexmk
*.synctex.gz
*.tdo
*.toc

*.core
*.msh
*.geo_unrolled
*.rs
*.h
*.c
*.cpp
*.hpp
*.pickle
**/CMakeList*