# Simple workflow for deploying static content to GitHub Pages
name: Build and test

on:
  workflow_call:
  push:
    branches:
      - "**"
      - "!main"
  pull_request:
    branches:
      - "main"
      
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    container: ghcr.io/fenics/dolfinx/lab:v0.10.0
    
    env:
      PYVISTA_OFF_SCREEN: true
      PYVISTA_JUPYTER_BACKEND: "static"
      DISPLAY: ":99.0"
      DEB_PYTHON_INSTALL_LAYOUT: deb_system
      LIBGL_ALWAYS_SOFTWARE: 1
    
    steps:
      - uses: actions/checkout@v5
      
      - name: Install
        run: |
          python3 -m pip install '.[ci]'

      - name: ruff check and check format
        run: |
          ruff check .
          ruff format --check .

      - name: Run tests (serial)
        run: |
          python3 -m pytest test/

      - name: Run tests (MPI, np=3)
        run: |
          mpirun -n 3 python3 -m pytest test/
      
      - name: Run demos (serial)
        run: |
          python3 -m pytest -m mpi -v --num-proc=1 doc/demo

      - name: Run demos (MPI, np=3)
        run: |
          python3 -m pytest -m mpi -v --num-proc=2 doc/demo

      - name: Build Jupyter Book
        run: |
          jupyter-book build doc/

      - name: Upload Pages artifact
        if: success()
        uses: actions/upload-pages-artifact@v4
        with:
          path: doc/_build/html