# Simple workflow for deploying static content to GitHub Pages
name: Build and test

on:
  workflow_call:
  push:
    branches:
      - "**"
      - "!main"
  pull_request:
    branches:
      - "main"
      
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    container: ghcr.io/fenics/dolfinx/lab:v0.10.0
    
    env:
      PYVISTA_OFF_SCREEN: true
      PYVISTA_JUPYTER_BACKEND: "static"
      DISPLAY: ":99.0"
      DEB_PYTHON_INSTALL_LAYOUT: deb_system
      LIBGL_ALWAYS_SOFTWARE: 1
    
    steps:
      - uses: actions/checkout@v5
      
      - name: Install
        run: |
          python3 -m pip install '.[ci]'

      - name: ruff check and check format
        run: |
          ruff check .
          ruff format --check .

      - name: Run tests (serial)
        run: |
          python3 -m pytest test/

      - name: Run tests (MPI, np=3)
        run: |
          mpirun -n 3 python3 -m pytest test/
      
      - name: Run demos (serial)
        run: |
          python3 -m pytest -m mpi -v --num-proc=1 doc/demo

      - name: Run demos (MPI, np=3)
        run: |
          python3 -m pytest -m mpi -v --num-proc=2 doc/demo

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install requirements
        run: |
          python3 -m pip install --break-system-packages -U pip setuptools pkgconfig poetry-core
          python3 -m pip install --no-build-isolation --break-system-packages --no-cache-dir --no-binary=h5py .[netgen] --upgrade

      - name: Build book
        run: jupyter-book build doc
      
      - name: Upload documentation as artifact
        uses: actions/upload-artifact@v4
        with:
          name: webpage
          path: doc/_build/html
          if-no-files-found: error
